# 10 Dealing with huge datasets
Download the required file from: https://www.kaggle.com/datasets/nagasai524/nyc-taxi-trip-records-from-jan-2023-to-jun-2023

In [1]:
import pandas as pd

In [2]:
#Featch file from kaggle see link in data folder
df = pd.read_csv("data/nyc_yellow_taxi_trip_records_from_Jan_to_Aug_2023.csv") # Tales about 3 minutes to load
df=df.sample(1000000)
df.to_csv("data/nyc_yellow_taxi_trip_selection.csv")

In [3]:
file = "data/nyc_yellow_taxi_trip_selection.csv" # Takes about xx seconds...
parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
df = pd.read_csv(file, usecols=["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "store_and_fwd_flag"], dtype={"store_and_fwd_flag" : "string"}, parse_dates=parse_dates )

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,store_and_fwd_flag
0,2,2023-02-19 13:36:39,2023-02-19 13:46:49,1.04,N
1,1,2023-03-28 14:26:20,2023-03-28 14:55:04,2.60,N
2,2,2023-05-21 17:39:50,2023-05-21 18:15:01,5.86,N
3,2,2023-05-27 15:24:46,2023-05-27 15:41:07,2.59,N
4,2,2023-06-18 22:04:00,2023-06-18 22:15:28,2.07,N
...,...,...,...,...,...
999995,2,2023-06-06 11:18:15,2023-06-06 12:02:55,6.73,N
999996,2,2023-02-15 19:14:23,2023-02-15 19:26:28,1.85,N
999997,1,2023-03-09 11:51:32,2023-03-09 12:13:03,2.60,N
999998,2,2023-06-09 21:09:53,2023-06-09 21:32:52,6.87,<NA>
999999,2,2023-04-27 18:32:19,2023-04-27 18:52:43,1.93,N

In [5]:
df.memory_usage(deep=True)

Index                         132
VendorID                  8000000
tpep_pickup_datetime      8000000
tpep_dropoff_datetime     8000000
trip_distance             8000000
store_and_fwd_flag       58163254
dtype: int64

In [6]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
trip_distance                   float64
store_and_fwd_flag       string[python]
dtype: object

In [7]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df["tpep_dropoff_datetime"] = df["tpep_dropoff_datetime"].astype("datetime64[ns]")

In [8]:
df.memory_usage(deep=True)

Index                         132
VendorID                  8000000
tpep_pickup_datetime      8000000
tpep_dropoff_datetime     8000000
trip_distance             8000000
store_and_fwd_flag       58163254
dtype: int64

In [9]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
trip_distance                   float64
store_and_fwd_flag       string[python]
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1000000 non-null  int64
 1   tpep_pickup_datetime   1000000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1000000 non-null  datetime64[ns]
 3   trip_distance          1000000 non-null  float64
 4   store_and_fwd_flag     972791 non-null   string
dtypes: datetime64[ns](2), float64(1), int64(1), string(1)
memory usage: 38.1 MB

In [11]:
random_selection_fixed =df.sample(100, random_state=42)
random_selection_fixed.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,store_and_fwd_flag
987231,1,2023-04-20 21:28:27,2023-04-20 21:59:31,4.10,N
79954,2,2023-02-20 13:52:34,2023-02-20 14:14:58,3.50,N
567130,2,2023-06-27 11:18:16,2023-06-27 11:25:23,1.05,N
500891,2,2023-05-12 17:16:54,2023-05-12 17:39:20,2.37,N
55399,2,2023-04-18 15:59:50,2023-04-18 17:18:15,17.90,N