# Visualize Employees and their group membership

In [ ]:
import pandas as pd
import random

first_names = [
    "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank", "Ivy", "Jack",
    "Karen", "Leo", "Mona", "Nate", "Olivia", "Paul", "Quinn", "Rita", "Steve", "Tina",
    "Uma", "Victor", "Wendy", "Xander", "Yvonne", "Zack"
]

last_names = [
    "Smith", "Johnson", "Williams", "Brown", "Jones", "Garcia", "Miller", "Davis", "Rodriguez", "Martinez",
    "Hernandez", "Lopez", "Gonzalez", "Wilson", "Anderson", "Thomas", "Taylor", "Moore", "Jackson", "Martin",
    "Lee", "Perez", "Thompson", "White", "Harris", "Sanchez", "Clark", "Ramirez", "Lewis", "Robinson"
]

# Generate 200 random names
random_names = [f"{random.choice(first_names)} {random.choice(last_names)}" for _ in range(200)]
dataview = pd.DataFrame(random_names, columns=["Name"])
groups = [f"Group {chr(65 + i % 5)}" for i in range(200)] 
dataview['Group'] = groups
dataview

                 Name    Group
0        Leo Williams  Group A
1       Olivia Thomas  Group B
2           Leo Jones  Group C
3       Tina Robinson  Group D
4    Charlie Thompson  Group E
..                ...      ...
195  Yvonne Hernandez  Group A
196       Karen Perez  Group B
197    Xander Jackson  Group C
198       Karen Brown  Group D
199      Uma Anderson  Group E

[200 rows x 2 columns]

In [4]:
import networkx as nx
import numpy as np
from pyvis.network import Network

visualizationdata = pd.DataFrame(
    {
        "source": dataview["Name"].tolist(),
        "target": dataview["Group"].tolist(),
        "weight": 0
    }
)
G_team_members = nx.from_pandas_edgelist(visualizationdata, edge_attr=True)
net = Network(notebook=True)
for source in visualizationdata['source'].unique():
    net.add_node(source, label=source)
for target in visualizationdata['target'].unique():
    net.add_node(target, label=target, color='red')
for index, row in visualizationdata.iterrows():
    net.add_edge(row['source'], row['target'], value=row['weight']/3, color='gray')
net.show("employees.html")

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.
employees.html