# 10 Dealing with huge datasets
Download the required file from: https://www.kaggle.com/datasets/nagasai524/nyc-taxi-trip-records-from-jan-2023-to-jun-2023

In [3]:
import pandas as pd

In [4]:
#Featch file from kaggle see link in data folder
df = pd.read_csv("../data/nyc_yellow_taxi_trip_records_from_Jan_to_Aug_2023.csv") # Tales about 3 minutes to load
df=df.sample(1000000)
df.to_csv("../data/nyc_yellow_taxi_trip_selection.csv")

In [5]:
file = "../data/nyc_yellow_taxi_trip_selection.csv" # Takes about 7 seconds...
parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
df = pd.read_csv(file, usecols=["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "store_and_fwd_flag"], dtype={"store_and_fwd_flag" : "string"}, parse_dates=parse_dates )

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,store_and_fwd_flag
0,1,2023-06-05 17:53:11,2023-06-05 18:00:08,0.90,N
1,1,2023-05-18 14:07:56,2023-05-18 14:25:23,4.60,N
2,2,2023-02-28 11:39:49,2023-02-28 12:07:41,11.33,N
3,2,2023-01-24 08:13:45,2023-01-24 08:23:57,1.21,N
4,2,2023-04-15 09:42:46,2023-04-15 09:48:49,1.54,N
...,...,...,...,...,...
999995,2,2023-03-17 12:13:23,2023-03-17 12:27:59,1.18,N
999996,2,2023-01-08 10:47:51,2023-01-08 11:00:47,3.51,N
999997,2,2023-02-07 05:30:21,2023-02-07 05:54:48,16.66,N
999998,2,2023-04-22 16:36:56,2023-04-22 16:47:47,1.64,N
999999,2,2023-06-26 13:06:31,2023-06-26 13:37:03,6.84,N

In [7]:
df.memory_usage(deep=True)

Index                         128
VendorID                  8000000
tpep_pickup_datetime      8000000
tpep_dropoff_datetime     8000000
trip_distance             8000000
store_and_fwd_flag       57510598
dtype: int64

In [8]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
trip_distance                   float64
store_and_fwd_flag       string[python]
dtype: object

In [9]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df["tpep_dropoff_datetime"] = df["tpep_dropoff_datetime"].astype("datetime64[ns]")

In [10]:
df.memory_usage(deep=True)

Index                         128
VendorID                  8000000
tpep_pickup_datetime      8000000
tpep_dropoff_datetime     8000000
trip_distance             8000000
store_and_fwd_flag       57510598
dtype: int64

In [ ]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
trip_distance                   float64
store_and_fwd_flag       string[python]
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1000000 non-null  int64
 1   tpep_pickup_datetime   1000000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1000000 non-null  datetime64[ns]
 3   trip_distance          1000000 non-null  float64
 4   store_and_fwd_flag     972888 non-null   string
dtypes: datetime64[ns](2), float64(1), int64(1), string(1)
memory usage: 38.1 MB

In [ ]:
random_selection_fixed =df.sample(100, random_state=42)
random_selection_fixed.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,store_and_fwd_flag
987231,1,2023-02-13 22:05:17,2023-02-13 22:27:10,4.90,<NA>
79954,2,2023-05-27 13:39:19,2023-05-27 13:55:27,2.07,N
567130,2,2023-04-30 23:52:20,2023-05-01 00:04:39,4.42,N
500891,2,2023-05-02 19:38:49,2023-05-02 19:51:28,1.54,N
55399,2,2023-03-10 14:43:30,2023-03-10 14:55:22,1.59,N